<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Quiz Questions</h1>
    <form action="{{ url_for('submit') }}" method="post">
        {% for question in questions %}
            <div class="question">
                <p>{{ loop.index }}. {{ question.question }}</p>
                {% for option in question.options %}
                    <label>
                        <input type="radio" name="question-{{ loop.index0 }}" value="{{ option }}">
                        {{ option }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>
</body>
</html>
