<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Inter:wght@400;600&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Quiz Application</title>
</head>
<body class="font-roboto bg-bg-color ">
    {% include 'navbar.html' %} 
    {% include 'login.html' %}
    <div class=" w-full flex flex-col md:flex-row bg-bg-color text-secondary-text-color"
         style="height:calc(100vh - 80px)">
            <div class=" w-full md:w-1/2 h-1/2 md:h-full bg-secondary-bg-colorbg-color p-4 md:p-24" >
                <h1 class="text-2xl font-bold">Ignite your preparation with QVAKK</h1>
                <P class=" text-lg tracking-tight pt-2">Qvakk: Sharpen Your Mind, Master the Quiz!</P> 
                <p class="text-lg ml-8 tracking-tight">Unleash your potential with tailored online quiz practice.</P>
                <div class="text-xl pt-8 flex items-center  "><span>practice any topic with qvakk</span> <span class="text-5xl ">-></span></div>
                <a href="/quiz/select" class="protected-action flex-nowrap min-w-min font-bold bg-button-color hover:bg-button-hover px-2 py-1 rounded-md text-primary-bg-color ml-40 mt-2">Start Quiz</a>

            </div>
            
            <!-- Corrected background image -->
            <div class="w-full md:w-1/2 h-1/2 md:h-full bg-[url('/static/images/light_bulb.jpg')] bg-contain  overflow-hidden  pt-4"
                 > 
                <span class=" font-semibold text-white text-2xl relative left-10">LIGHT YOUR FUTURE </span>
                </br>
                <span class=" font-semibold text-white text-2xl relative left-52">WITH US </span>
            </div>

        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
